@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book List app</h1>
    <p>this app does basically nothing its just made to help better understand associations with asp.net mvc .</p>
</div>
